.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    vertical-align: middle;
    color: inherit;
}

.cuboxDot {
    color: #5f6dfc;
    border: 2px solid #5f6dfc;
    background-color: #5f6dfc;
}

.logseqDot {
    color: #85c8c8;
    border: 2px solid #85c8c8;
    background-color: #85c8c8;
}

.todoistDot {
    color: #e54332;
    border: 2px solid #e54332;
    background-color: #e54332;
}

.notionDot {
    color: #dfdfdf;
    border: 2px solid #dfdfdf;
    background-color: #dfdfdf;
}

.unfilled {
    border-width: 2px;
    background-color: transparent;
}

.error {
    position: relative;
    background-color: transparent;
}

.error::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 14px;
    background-color: currentColor;
    transform: rotate(90deg);
    top: -2px;
    left: 4px;
}

.loading {
    background-color: transparent;
    border-style: dotted;
    border-width: 3px;
    animation: spinner 5s linear infinite;
}

@keyframes spinner {
    to { transform: rotate(360deg); }
}

.pointer {
    cursor: pointer;
}
