.resultItem {
    margin-bottom: 15px;
}

.titleContainer {
    display: flex;
    align-items: center;
}

.titleDot {
    width: 8px;
    height: 8px;
    background-color: #5f6dfc;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.title {
    font-size: 18px;
    color: var(--search-result-title);
    border-bottom: 1px solid var(--result-item-title-border);

    &:hover {
        border-bottom: 1px solid var(--search-result-title-hover);
        color: var(--search-result-title-hover);
    }
}

.oneLineText {
    display: block;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.url {
    color: var(--search-result-url-link);
    font-size: 14px;
}

.description {
    font-size: 14px;
    color: var(--search-result-content-text);
    margin-top: 5px;

    flex: 1;
    word-break: break-word;
}

.date {
    color: var(--search-result-content-text);
    background-color: var(--search-result-date-bg);
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: 5px;
}