.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.length {
    margin-right: 10px;
}

.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    vertical-align: middle;
    color: inherit;
    border: none;
    background: none;
    padding: 0;
}

.cuboxDot {
    color: #5f6dfc;
    border: 2px solid #5f6dfc;
    background-color: #5f6dfc;
}

.logseqDot {
    color: #85c8c8;
    border: 2px solid #85c8c8;
    background-color: #85c8c8;
}

.unfilled {
    border-width: 2px;
    background-color: transparent;
}

.error {
    position: relative;
    background-color: transparent;
}

.error::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: currentColor;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.loading {
    background-color: transparent;
    border-style: dotted;
    border-width: 3px;
    animation: spinner 5s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.pointer {
    cursor: pointer;
}

.small {
    width: 8px;
    height: 8px;
}
