:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --font-main: Helvetica, Arial, sans-serif;

    --primary: #18181a;
    --app-frame-bg: #fff;
    --primary-50: #f5f5f5;
    --primary-200: #cfcfd1;
    --primary-300: #9f9fa5;
    --search-result-title: #18181a;;
    --search-result-title-hover: #6c5edc;;
    --result-item-title-border: #9f9fa5;
    --search-result-content-text: #5a5a60;;
    --search-result-date-bg: #f3f3f3;
    --search-result-url-link: #707077;
    --color-search-input: #fff;
    --color-search-input-border: #e6e6e8;;

    @media (prefers-color-scheme: dark) {
        --app-frame-bg: #232325;
        --primary: #e6e6e8;
        --primary-50: #2f2f31;
        --primary-200: #454549;
        --primary-300: #acacaf;
        --search-result-title: #fff;
        --search-result-title-hover: #c0b8ff;
        --result-item-title-border: #acacaf;
        --search-result-content-text: #acacaf;
        --search-result-date-bg: #454549;
        --search-result-url-link: #cfcfd1;
        --color-search-input: #454549;
        --color-search-input-border: #707077;
    }
}
